{% extends 'base.html' %} {% block body %}
<div class="main-container">
	<div class="quote">
		<div class="quote-inside">Many of life’s failures are people who did not realize how close they were to success when they gave up.</div>
		<div class="author">&mdash; Thomas A. Edison &mdash;</div>
	</div>
	<div class="about">
		<p class="about-me">About me:</p>
		<i class="tab">&ensp;My name is Daniel Arpide, and I'm a graduate of Wentworth Institute of Technology. I graduated with a degree in Computer Engineering, but have always had a stronger interest in the Computer Science portion of the curriculum. In college I worked with a team to develop an application using the Spotify API, while creating this I found out that programming was the path I wanted to take in my career. I am currently a junior software engineer focusing in web development.</i>
	</div>
</div>
{% endblock body %}
